html {
    font-size: 62.5%;
}

body {
    background-color: #20232a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.4rem;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.8rem;
}

p {
    text-decoration: underline;
    font-size: 1.4rem;
}

.input-text {
    width: 210px;
    padding: 5px;
    text-align: center;
    outline: none;
}

button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 30px;
    margin-left: 2px;
}

button:first-of-type {
    background-color: green;
}

button:last-of-type {
    background-color: #ff5722;
}

